@charset "UTF-8";
/* CSS Document */

*{
	font-family: Helvetica, Arial, sans-serif
}


h1 {
	
}
h2{
	
	font-weight:200;
	margin-top:-20px;

}


tr:nth-child(even){
	background-color: #FFFDC2;
}

th {
	text-align:left;
	padding-left: 20px;
	border-left:1px solid grey;
}

td {
	padding: 3px 30px;
	border-left:1px solid grey;
	border-right:1px solid grey;
}
table {
	border-collapse:collapse;
	border-bottom:1px solid grey;
}
tr:nth-child(2) {
	border-top:1px solid grey;
	

}

tr:nth-child(1) {
	border-right:0px solid white;
	}
.image {
	border: 0px solid white;
	vertical-align:bottom;
	padding-bottom: 15px;
}

span {
	font-weight:200;
	font-style:italix;
}
	
nav {
	background-color: #E1E1E1;
	border: 1px solid #D20003;
	width: 100%;
	height: 50px;
	padding-bottom: 15px;
	}

ul {
list-style:none;

}


li {
	float:left;
	width: 150px;
	line-height: 35px;
	font-size:24px;
	
}
a:link {
text-decoration:none;
color: crimson;
	
}
 a:visited {
color: #851214;
 }
 
a:hover {
font-weight:600;
}

a:active {
color:#851214
}

body {
margin-left: 15px;



	
	
	